<?xml version="1.0" encoding="utf-8"?>
<Configuration>
   <config></config>
   <packageRestore>
        <!-- Allow NuGet to download missing packages -->
        <add key="enabled" value="True" />

        <!-- Automatically check for missing packages during build in Visual Studio -->
        <add key="automatic" value="True" />
   </packageRestore>

   <packageSources>nu
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
   </packageSources>

    <!--
    Used to specify trusted signers to allow during signature verification.
    See: nuget.exe help trusted-signers
    -->
    <trustedSigners>
        <repository name="nuget.org" serviceIndex="https://api.nuget.org/v3/index.json">
            <certificate fingerprint="72A23807230618030B3CFC200845CE317AD849BCDB7E1DD0CEDC018A68EFEEE0" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
            <owners>microsoft;fast</owners>
        </repository>
    </trustedSigners>
</Configuration>
